---
const countrys = [
    {
        name: 'Brazil',
        flag: '/assets/images/flags/brazil.svg',
        totalSites: 3,
        completion: 81,
        avgScore: 65.13,
        totalUsers: 397,
        pillars: [
            { name: 'SAFETY', color: 'success', abbr: 'SAF' },
            { name: 'QUALITY', color: 'success', abbr: 'QUA' },
            { name: 'PEOPLE', color: 'warning', abbr: 'PEO' },
            { name: 'MANAGEMENT', color: 'warning', abbr: 'MAN' },
            { name: 'RELIABILITY', color: 'warning', abbr: 'REL' },
        ],
    },
    {
        name: 'Colombia',
        flag: '/assets/images/flags/colombia.svg',
        totalSites: 3,
        completion: 81,
        avgScore: 65.13,
        totalUsers: 397,
        pillars: [
            { name: 'SAFETY', color: 'success', abbr: 'SAF' },
            { name: 'QUALITY', color: 'success', abbr: 'QUA' },
            { name: 'PEOPLE', color: 'warning', abbr: 'PEO' },
            { name: 'MANAGEMENT', color: 'warning', abbr: 'MAN' },
            { name: 'RELIABILITY', color: 'warning', abbr: 'REL' },
        ],
    },
    {
        name: 'Mexico',
        flag: '/assets/images/flags/mexico.svg',
        totalSites: 3,
        completion: 81,
        avgScore: 65.13,
        totalUsers: 397,
        pillars: [
            { name: 'SAFETY', color: 'success', abbr: 'SAF' },
            { name: 'QUALITY', color: 'success', abbr: 'QUA' },
            { name: 'PEOPLE', color: 'warning', abbr: 'PEO' },
            { name: 'MANAGEMENT', color: 'warning', abbr: 'MAN' },
            { name: 'RELIABILITY', color: 'warning', abbr: 'REL' },
        ],
    },
    {
        name: 'Peru',
        flag: '/assets/images/flags/peru.svg',
        totalSites: 3,
        completion: 81,
        avgScore: 65.13,
        totalUsers: 397,
        pillars: [
            { name: 'SAFETY', color: 'success', abbr: 'SAF' },
            { name: 'QUALITY', color: 'success', abbr: 'QUA' },
            { name: 'PEOPLE', color: 'warning', abbr: 'PEO' },
            { name: 'MANAGEMENT', color: 'warning', abbr: 'MAN' },
            { name: 'RELIABILITY', color: 'warning', abbr: 'REL' },
        ],
    },
]
---

<style>
    .box-country {
        background-color: #fff;
        transition: all 0.3s;
    }
    .box-country:hover {
        background-color: #e3eed6;
    }
</style>

<section class="row">
    {
        countrys.map(country => (
            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <a class="d-flex flex-column p-3 mb-3 text-decoration-none text-secondary border rounded shadow box-country" href="/assessments/site/">
                    <div class="d-flex flex-wrap gap-4">
                        <div class="d-flex flex-column gap-2 mb-3">
                            <img src={country.flag} width="64px">
                            <span class="btn btn-small btn-warning">In Progress</span>
                        </div>

                        <div class="d-flex flex-column mb-3">
                            <h4 class="mb-2">{country.name}</h4>
                            <p class="mb-2">Total of Sites: {country.totalSites}</p>
                            <p class="mb-0">% Completion: {country.completion}%</p>
                            <p class="mb-0">Country AVG Score: {country.avgScore}%</p>
                            <p class="mb-0">Total users: {country.totalUsers}</p>
                        </div>
                    </div>

                    <div class="d-flex flex-column">
                        <small>% Completion by Pillar</small>
                        <ul class="list-unstyled mb-0 d-flex gap-1">
                            {
                                country.pillars.map(pillar => (
                                    <li class={`badge rounded-pill fw-normal text-bg-${pillar.color}`} data-bs-toggle="tooltip" data-bs-title={pillar.name}>
                                        {pillar.abbr}
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                </a>
            </div>
        ))
    }
</section>
